<h1>本棚一覧</h1>
<%= link_to '本棚を作成', new_bookshelf_path, class: "menu-button" %>
<div>
    <% @bookshelves.each do |bookshelf| %>
        <div class="bookshelf">
            <h2><%= link_to bookshelf.shelfname, edit_bookshelf_path(bookshelf) %></h2>
            <div class="books-container">
                <% if @books[bookshelf.id].present? %>
                    <% @books[bookshelf.id].each do |book| %>
                        <div class="book-link">
                            <% if book["volumeInfo"]["imageLinks"] && book["volumeInfo"]["infoLink"] %>
                                <%= link_to image_tag(book["volumeInfo"]["imageLinks"]["thumbnail"], class: 'book-image'), book["volumeInfo"]["infoLink"], target: "_blank", data: { book_api_id: book["id"], action: 'record-history' } %>
                            <% end %>
                        
                            <% if book["volumeInfo"]["title"] && book["volumeInfo"]["infoLink"] %>
                                <div class="book-title">
                                    <%= link_to book["volumeInfo"]["title"], book["volumeInfo"]["infoLink"], target: "_blank", data: { book_api_id: book["id"], action: 'record-history' } %>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                <% else %>
                    <p>この本棚には書籍がありません</p>
                <% end %>
            </div>
        </div>
    <% end %>
</div>