/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* header */
 .page-header {
     background-color:black;
     text-align: center;
 }
 .page-header img{
     width: 400px;
     height: 100px;
 }
 
 /* top_main */
.top-main{
    text-align: center;
    margin:20px 50px 50px 100px;
    padding:0px 0px 100px 0px;
    border-width: thin;
    border-style: solid;
    border-color: #dcdcdc;
}
.search-bar{
    padding:20px 20px;
    font-size:25px;
    background-color:#f5f5f5;
}
.to-my-bookshelves{
    margin: 5px;
    padding:10px;
    transition: .3s;
    font-size:18px;
}
.to-my-bookshelves:hover {
    background-color:#d3d3d3;
}
.to-other-bookshelves{
    margin:5px;
    padding:10px;
    transition: .3s;
    font-size:18px;
}
.to-other-bookshelves:hover {
    background-color:#d3d3d3;
}
.logout{
    margin:10px;
    padding:10px;
    transition: .3s;
    font-size:18px;
}
.logout:hover {
    background-color:#d3d3d3;
}
.img-logo2 img{
    width:400px;
    height:200px;
}

.new{
    font-size:15px;
    font-weight: bold; 
    color: initial; 
    left: 50%;
    width: 100%;
}
.new-user{
    font-size:20px;
    width: 200px;
  max-width: 350px; /* ボタン幅 */
  background-color: white; /* ボタン上色 */
  position: relative;
  padding: 10px 5px;
  border-radius: 100vh;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
  text-align: center;
  border:2px solid #808080;
}

.log{
    font-size:15px;
  font-weight: bold; 
  color: initial; 
  left: 50%;
  width: 100%;
  margin: 40px 0px 0px 0px;
}
.login{
    font-size:20px;
    width: 200px;
  max-width: 350px; /* ボタン幅 */
  background-color: white; /* ボタン上色 */
  position: relative;
  padding: 10px 5px;
  border-radius: 100vh;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
  text-align: center;
  border:2px solid #1e90ff;
}

/* top_login */
#login{
    text-align: center;
    margin:50px 100px 50px 100px;
    padding:100px 0px;
    border-width: thin;
    border-style: solid;
    border-color: #dcdcdc;
}
.l{
    text-decoration:underline;
    text-decoration-color:#d3d3d3;
    margin: 0 0 50px 0;
}
.login-user{
    font-size:18px;
    margin:5px;
}
.login-password{
    font-size:18px;
    margin:5px;
}
.login-button{
    margin:10px 5px;
}

/* users_new*/
#user-new{
    text-align: center;
    margin:50px 100px 50px 100px;
    padding:100px 0px;
    border-width: thin;
    border-style: solid;
    border-color: #dcdcdc;
}
.user-new-header{
    text-decoration:underline;
    text-decoration-color:#d3d3d3;
    margin: 0 0 50px 0;
}
.username{
    font-size:18px;
    margin:5px;
}
.password{
    font-size:18px;
    margin:5px 5px 30px 5px;
}
.user-register{
    margin:50px 5px;
}

/* bookshelves_index */
#bookshelves-index{
    margin:20px;
    padding:10px 10px 10px 20px;
    border-width: thin;
    border-style: solid;
    border-color: #dcdcdc;
}
.bookshelves-view{
    text-decoration:underline;
    text-decoration-color:#d3d3d3;
}